BODY { background-color:0DD9A9 ; background-repeat:no-repeat; background-image:url("C:/Users/Dany/Desktop/equipo web/html.jpg");} 
H1 {text-align:center; font-family:times; color:D90D76; font-weight:bolder; font-size:22pt; font-style:bold;}
H2 {text-align:center; font-family:garamond; color:"FFFFFF"; font-weight:bolder; font-size:18pt; font-style:bold;}
H3 {text-align:center; font-family:arial; color:5F0DD9; font-weight:bolder; font-size:15pt; font-style:oblique}
P {text-align:center; font-family:times; color:"FFFFFF"; font-weight:bolder; font-size:13pt; font-style:oblique;}

